.item-line {
    display: flex;
    justify-content: center;
    align-content: center
}
.del {
    display: inline-block; 
    margin-left: 5px; 
    background-color: #ff0000; 
    border-radius:5px;
    color: white;
    font-size: 8px;
    align-self: center;
}

.del:hover {
    cursor: pointer;
}
