.App {
  text-align: center;
  width: 450px;
  margin: 0 auto;
  border-radius: 15px;
  background-color: #e0e0e0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.App > h1 {
  padding-top: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@media only screen and (max-width: 600px) {
  .App {
      width: 90%;
  }
}

